<!DOCTYPE html>
<html>
    <h1>Twork</h1>
    <h2>To do List</h2>
    <form action = "/add" , method = 'POST'>
    <input type='text' name='text' placeholder="Enter text" required>
    <input type='text' name='description' placeholder="Description">
    <input type='text' name='deadline' required>
    <input type='submit'>
    </form>

    {% if current_user.is_authenticated %}
        {% for task in tasks %}
            <ul>{{task.text}}</ul>
        {% endfor %}
    {% endif %}
    
</html>
