<!DOCTYPE html>
<html>
    <h1>Twork</h1>
    <h2>Register Form</h2>
    <form action = "/register" , method = 'POST'>
    <input type='email' name='email' placeholder="Enter email" required>
    <input type='username' name='username' placeholder="Username" required>
    <input type='password' name='password' required>
    <input type='firstname' name='firstname' placeholder="firstname" required>
    <input type='lastname' name='lastname' placeholder='lastname'  required>
    <input type='submit'>
    </form>
</html>